@model List<Task_6.Models.Order>

@{
    ViewData["Title"] = "Orders Overview";
}

<h2 class="mb-3">@ViewData["Title"]</h2>

<p>
    <a href="/Home/ExportToExcel" class="btn btn-success">Export to Excel</a>
</p>

<table class="table table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>შეკვეთის ID</th>
            <th>დავალიანება (GEL)</th>
            <th>დავალიანება (USD)</th>
            <th>გადახდილი რაოდენობა</th>
            <th>დარჩენილი გადასახდელი (GEL)</th>
            <th>დარჩენილი გადასაგდელი (USD)</th>
            <th>მიზეზი</th>
            <th>დაწყების დრო</th>
            <th>დასრულების დრო</th>
            <th>დარჩენილი დრო (დღე)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
            <tr>
                <td>@order.XelshekrulebaID</td>
                <td>@order.GadasaxdeliL</td>
                <td>@order.GadasaxdeliD</td>
                <td>@order.ValiL</td>
                <td>@order.GadaxdiliL</td>
                <td>@order.GadaxdiliD</td>
                <td>@(string.IsNullOrEmpty(order.VisiMizezit) ? "N/A" : order.VisiMizezit)</td>
                <td>@order.TarigiDawyebis.ToString("yyyy-MM-dd")</td>
                <td>@(order.TarigiShesrulebis?.ToString("yyyy-MM-dd") ?? "N/A")</td>
                <td>@order.DaysRemaining</td>
            </tr>
        }
    </tbody>
</table>