@model IEnumerable<GreenSchoolCAT.Models.Test>

@{
    ViewData["Title"] = "ჩემი ტესტები";
}

<h2>ჩემი ტესტები</h2>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">@TempData["SuccessMessage"]</div>
}
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
}

<table class="table">
    <thead>
        <tr>
            <th>ტესტის სახელი</th>
            <th>კითხვების რაოდენობა</th>
            <th>შედეგების რაოდენობა</th>
            <th>პაროლი</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var test in Model)
        {
            <tr>
                <td>@test.Name</td>
                <td>@test.Questions.Count</td>
                <td>@test.Results.Count</td>
                <td>@test.Password</td>
                <td class="text-end">
                    <form asp-action="DeleteTest" method="post" class="d-inline">
                        <input type="hidden" name="testId" value="@test.GuidId" />
                        <button type="submit"
                                class="btn btn-outline-danger btn-sm"
                                onclick="return confirm('დარწმუნებული ხართ, რომ გსურთ ტესტის \" @test.Name\" წაშლა?')">
                            წაშლა
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>