@model IEnumerable<GreenSchoolCAT.Controllers.AllResultsViewModel>

<table class="table">
    <thead>
        <tr>
            <th>ტესტის სახელი</th>
            <th>პაროლი</th>
            <th>მასწავლებელი</th>
            <th>სტუდენტი</th>
            <th>ქულა</th>
            <th>θ მაჩვენებელი</th>
            <th>თარიღი</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var r in Model)
        {
            <tr>
                <td>@r.TestName</td>
                <td>@r.TestPassword</td>
                <td>@r.TeacherName</td>
                <td>@r.StudentName</td>
                <td>@r.Score</td>
                <td>@r.Theta.ToString("0.00")</td>
                <td>@r.DateTaken.ToLocalTime().ToString("g")</td>
            </tr>
        }
    </tbody>
</table>